.highlighter-rouge pre.highlight {
    padding: 1rem 1rem;
}

.nav-link.active {
    font-weight: 600;
}

@media(min-width: 768px) {
    .bee-layout-docs {
        display: grid;
        grid-template-columns: 1.3fr 5fr;
        grid-template-areas: "sidebar main";
        gap: 4rem;
    }
    .bee-layout-release {
        display: grid;
        grid-template-columns: 5fr 1.3fr;
        grid-template-areas: "main sidebar";
        gap: 4rem;
    }
}

/* DOCS */

.bee-layout-docs-nav {
    margin-top: 0.9rem;
    grid-area: sidebar;
    min-width: 0;
    align-self: start;
}

.bee-layout-docs-main {
    grid-area: main;
    min-width: 0;
}

.bee-layout-docs-main h1 {
    margin-bottom: 2rem;
}

.bee-layout-docs-main>h2,
.bee-layout-docs-main>h3,
.bee-layout-docs-main>h4,
.bee-layout-docs-main>h5 {
    margin-top: 1.3em;
}

.bee-layout-toc {
    -padding: 1rem;
    -border: 1px solid black;
    margin: 1rem 0 3rem 0;
    font-size: 0.9em;
}

.toc-listing {
    margin-top: 0.5rem;
    list-style: circle;
    list-style-type: disclosure-closed;
    color: gray;
    padding-left: 1.2rem;
}

.navbar-brand img.bee-logo {
    max-height: 40px;
}

/* RELEASE NOTES */

.bee-layout-release-main {
    grid-area: main;
    min-width: 0;
}

.bee-layout-release-nav {
    margin-top: 0.9rem;
    grid-area: sidebar;
    min-width: 0;
    align-self: start;
}

.bee-layout-release-main h1 {
    margin-top: 2.5rem;
    margin-bottom: 1rem;
    font-size: 1.5rem;
}

.bee-layout-release-main h1:before {
    content: "👉";
    padding-right: 0.5rem;
}

.bee-layout-release-main>h2,
.bee-layout-release-main>h3,
.bee-layout-release-main>h4,
.bee-layout-release-main>h5 {
    margin-top: 1.3em;
    font-size: 1.2rem;
}