.highlighter-rouge pre.highlight {
    padding: 1rem 1rem;
}

@media(min-width: 768px) {
    .bee-layout-docs {
        display: grid;
        grid-template-columns: 1fr 5fr;
        grid-template-areas: "sidebar main";
        gap: 1.5rem;
    }
}

.bee-layout-docs-nav {
    margin-top: 0.9rem;
    grid-area: sidebar;
    min-width: 0;
    align-self: start;
}

.bee-layout-docs-main {
    grid-area: main;
    min-width: 0;
}

.bee-layout-docs-main h1 {
    margin-bottom: 2rem;
}

.bee-layout-docs-main > h2,
.bee-layout-docs-main > h3,
.bee-layout-docs-main > h4,
.bee-layout-docs-main > h5 {
    margin-top: 1em;
}

 .bee-layout-toc {
    -padding: 1rem;
    -border: 1px solid black;
    margin: 1rem 0 3rem 0;
    font-size: 0.9em;
}