.highlighter-rouge pre.highlight {
    padding: 1rem 1rem;
}

@media(min-width: 768px) {
    .bee-layout-docs {
        display: grid;
        grid-template-columns: 1fr 5fr;
        grid-template-areas: "sidebar main";
        gap: 1.5rem;
    }
}

.bee-layout-docs-nav {
    grid-area: sidebar;
    min-width: 0;
    align-self: start;
}

.bee-layout-docs-main {
    grid-area: main;
    min-width: 0;
}